.vs/
.vs
.vscode
.venv
backend/app/__pycache__/
backend/app/alembic/versions/__pycache__/
backend/app/alembic/__pycache__/
backend/app/api/__pycache__/
backend/app/api/routes/__pycache__/
backend/app/core/__pycache__/
desktop_tool_code/CustomTool/__init__.py
desktop_tool_code/CustomTool/__pycache__/
node_modules
backend/executables/run/*
backend/executables/datagen2.dat
backend/executables/grid.bnd
desktop_tool_code/
$tf/
$tf1/
org_root_ca.crt
.env
.env
backend/cacerts
frontend/src/routes/_layout/management_old.tsx
backend/executables/gossym
backend/executables/spudsim
backend/testcer.py
frontend/src/components/Common/CustomDatePicker.jsx
.env.swp
