services:
  db:
    restart: "no"
    ports:
      - "5432:5432"

  adminer:
    restart: "no"
    ports:
      - "8080:8080"

  backend:
    restart: "no"
    entrypoint: ["sh", "-lc"]
    command: >
      python -m pip install --quiet debugpy &&
      python -m debugpy --listen 0.0.0.0:5678 --wait-for-client
      -m uvicorn app.main:app --host 0.0.0.0 --port 8443
      --ssl-certfile /usr/local/share/ca-certificates/ARSMDBE3142ACSL.pem
      --ssl-keyfile /usr/local/share/ca-certificates/ARSMDBE3142ACSL.key
    ports:
      - "5678:5678"
    volumes:
      - ./backend/:/app
    build:
      context: ./backend
      args:
        INSTALL_DEV: ${INSTALL_DEV-true}

  frontend:
    restart: "no"
    build:
      context: ./frontend
      args:
        - VITE_API_URL=https://${DOMAIN?Variable not set}
        - NODE_ENV=development
    ports:
      - "443:443"
      - "80:80"

networks:
  traefik-public:
    # For local dev, don't expect an external Traefik network
    external: false


